body
{
	position:fixed;
	margin: 0;
}

@font-face 
{
    font-family:CintaHeavy;
    src: url(img/CintaHeavy.otf);
}

.rl
{
	margin-top, margin-left: 0;
	width: 25vw; 
	height: 10vh;
	max-width: 350px;
	max-height: 78px;
	background-color: transparent; 
	background-image: url(img/RL2.png);
	background-size: cover;
}

.direction
{
	width: 40vw;
	height: 40vw;
	border-radius: 50%;
	margin-left: 30vw;
	margin-top: -2vw;
	background-color: transparent;
	position: absolute;
	box-shadow: 0 0 1vw 1vw white;
}

.centroid
{
	top: 50%;
	left: 50%;
	height: 20vw;
	width: 20vw;
	margin-top: 10vw;
	margin-left: 10vw;
	background-color: transparent;
}

		.bottom
		{
			width: 8vw;
			height: 2.73vw;
			margin-left: 6vw;
			margin-top: 11vw;
			position: absolute;
			background-color: transparent;
			background-image: url(img/1.png);
			background-size: cover;
			/*animation:bottom_up 300ms ease-in-out forwards*/
		}

		.left
		{
			width: 4.92vw;
			height: 6.58vw;
			margin-left: 5.2vw;
			margin-top: 5.3vw;
			background-color: transparent;
			position: absolute;
			background-image: url(img/2.png);
			background-size: cover;
			/*animation-name: player_up;*/
        	/*animation:left_up 300ms ease-in-out forwards*/
		}

		.right
		{
			width: 4.92vw;
			height: 6.58vw;
			margin-left: 10vw;
			margin-top: 5.3vw;
			background-color: transparent;
			position: absolute;
			background-image: url(img/3.png);
			background-size: cover;
			/*animation: right_up 300ms ease-in-out forwards*/
		}

		/*.bottom
		{
			-webkit-user-select: none;
			width: 8vw;
			height: 2.73vw;
			margin-left: 6vw;
			margin-top: 20vw;
			position: absolute;
			background-color: transparent;
			background-image: url(img/1.png);
			background-size: cover;
		}

		.left
		{
			-webkit-user-select: none;
			width: 4.92vw;
			height: 6.58vw;
			margin-left: -2.6vw;
			margin-top: 0.8vw;
			background-color: transparent;
			position: absolute;
			background-image: url(img/2.png);
			background-size: cover;
		}

		.right
		{
			-webkit-user-select: none;
			width: 4.92vw;
			height: 6.58vw;
			margin-left: 17.8vw;
			margin-top: 0.8vw;
			background-color: transparent;
			position: absolute;
			background-image: url(img/3.png);
			background-size: cover;
		}*/

		.solidFill
		{
			-webkit-user-select: none;
			border:none;
			outline: none;
			width: 9.6vw;
			height: 9.6vw;
			margin-left: 5.2vw;
			margin-top: 5.3vw;
			position: absolute;
			/*opacity: 0.5;*/
			background-color: transparent;
			background-image: url(img/Button.png);
			background-size: contain;
			background-repeat: no-repeat;
			/*transform: rotate(45deg);*/
			animation: waitTap  3s infinite  ease-in-out;
		}

		@keyframes sol_up
		{
	    	0%{
				opacity: 0;}
	    	100%{
				opacity: 1;}
	    }
	    @keyframes sol_down
		{
	    	0%{
				opacity: 1;}
	    	100%{
				opacity: 0;}
	    }

		.rotation
		{
			background-color: transparent;
			border-radius: 50%;
			margin-left: 25vw;
			margin-top: -7vw;
			display: none;
			-webkit-user-select: none;
			outline: none;
			height: 50vw;
			width: 50vw;
			position: absolute;
			background-color: transparent;
			background-image: url(img/rotation3.png);
			background-size: cover;
			transition:all 0s ease;
			/*transform: scale(0);*/
			/*animation: rotat_up 300ms ease-in-out forwards*/
		}
		.rotation:active
	    {
	    	transform: rotate(1deg);
	    }

		@keyframes rotat_up
		{
	    	0%  {
	    		transform: scale(0) rotate(-90deg);
			}
	    	100%{
	    		transform: scale(1) rotate(0deg);
			}
	    }
	    @keyframes rotat_down
		{
	    	0%  {
	    		transform: scale(1) rotate(0deg);
			}
	    	100%{
	    		transform: scale(0) rotate(-90deg);
			}
	    }

		@keyframes left_up
		{
	    	0%  {
	    		margin-left: 5.2vw;
				margin-top: 5.3vw;
			}
	    	100%{
	    		margin-left: -2.6vw;
				margin-top: 0.8vw;
			}
	    }
	    @keyframes left_down
		{
	    	0%{
	    		margin-left: -2.6vw;
				margin-top: 0.8vw;}
	    	100%{
	    		margin-left: 5.2vw;
				margin-top: 5.3vw;}
	    }


	    @keyframes right_up
		{
	    	0%{
	    		margin-left: 10vw;
	    	   	margin-top: 5.3vw;
	    	}
	    	100%{
	    		margin-left: 17.8vw;
				margin-top: 0.8vw;
			}
	    }
	    @keyframes right_down
		{
	    	0%{
	    		margin-left: 17.8vw;
				margin-top: 0.8vw;}
	    	100%{
				margin-left: 10vw;
				margin-top: 5.3vw;}
	    }


	    @keyframes bottom_up
		{
	    	0%{
				margin-top: 11vw;
			}
	    	100%{
				margin-top: 20vw;
	    	}
	    }
	    @keyframes bottom_down
		{
	    	0%{
				margin-top: 20vw;}
	    	100%{
				margin-top: 11vw;}
	    }


	    @keyframes left_up_vert
		{
	    	0%  {
	    		margin-left: 5.7vw;
				margin-top: 5.7vw;
			}
	    	100%{
	    		margin-left: -11.6vw;
				margin-top: -4.3vw;
			}
	    }
	    @keyframes left_down_vert
		{
	    	0%{
	    		margin-left: -11.6vw;
				margin-top: -4.3vw;
			}
	    	100%{
	    		margin-left: 5.7vw;
				margin-top: 5.7vw;
			}
	    }


	    @keyframes right_up_vert
		{
	    	0%{
	    		margin-left: 19.8vw;
				margin-top: 5.7vw;
	    	}
	    	100%{
	    		margin-left: 37.1vw;
				margin-top: -4.3vw;
			}
	    }
	    @keyframes right_down_vert
		{
	    	0%{
	    		margin-left: 37.1vw;
				margin-top: -4.3vw;}
	    	100%{
				margin-left: 19.8vw;
				margin-top: 5.7vw;}
	    }


	    @keyframes bottom_up_vert
		{
	    	0%{
				margin-top: 22.3vw;
			}
	    	100%{
				margin-top: 42.3vw;
	    	}
	    }
	    @keyframes bottom_down_vert
		{
	    	0%{
				margin-top: 42.3vw;}
	    	100%{
				margin-top: 22.3vw;}
	    }


	    .speed
	    {
	    	position: absolute;
	    	-webkit-user-select: none;
	    	width:7vw;
	    	height:3vw;
	    	background-color: transparent;
	    	margin-left: 86vw;
	    	margin-top: 16vw;
	    	opacity: 0;
	    }

	    .speedImg
	    {
	    	position: absolute;
	    	width: 1.8vw;
	    	height: 1.8vw;
	    	background-color: transparent;
	    	background-image: url(img/speed_200.png);
	    	background-size: cover;
	    	margin-left: 0.8vw;
	    	margin-top: 0.8vw;
	    }

	    .speedText
	    {
	    	background-color: transparent;
	    	color: black;
	    	font-family:CintaHeavy;
            font-size: 1.6vw;
	    	margin-left: 3.5vw;
	    	margin-top: 0.8vw;
	    }

	    @keyframes speed_up
		{
	    	0%{
				opacity: 0;}
	    	100%{
				opacity: 1;}
	    }
	    @keyframes speed_down
		{
	    	0%{
				opacity: 1;}
	    	100%{
				opacity: 0;}
	    }

	    .stop
	    {
	    	position: absolute;
	    	height: 4vw;
	    	width: 4vw;
	    	-webkit-user-select: none;
	    	border: none;
	    	outline: none;
	    	background-color: transparent;
	    	background-image: url(img/stop.png);
	    	background-size: cover;
	    	margin-left: 11vw;
	    	margin-top: 33vw;
	    	transition:all 0.1s ease;
	    	opacity: 0;
	    }
	    .stop:active
	    {
	    	transform: rotate(90deg);
	    }

	    @keyframes stop_up
		{
	    	0%{
				opacity: 0;}
	    	100%{
				opacity: 1;}
	    }
	    @keyframes stop_down
		{
	    	0%{
				opacity: 1;}
	    	100%{
				opacity: 0;}
	    }


	    @keyframes waitTap
		{
	    	0%{
				opacity: 1;}
			50%{
				opacity: 0.8;}
	    	100%{
				opacity: 1;}
	    }